<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Anekdot#{{num}}</title>
</head>
<body>
<div class="container">
    <br>
    <h3>Редактирование анекдота номер {{num}}<a href= '/'><button class="btn btn-light float-right">На главную</button></a></h3>
   <form method="post">


   <div class="row">
        <div class="rounded border border-secondary frame col-sm">
            {% for str in i[1].split('\n')%}
                <p class="par">{{ str }}</p>
            {% endfor %}
        </div>
       <div class="rounded border border-secondary frame col-sm">
        <div class="form-group">
            <label>Текст анекдота</label>
            <textarea class="form-control" name="anek_text" rows="4"></textarea>
        </div>
    </div>
    <br>
   </div>
    <h4>Теги</h4>

       <div class="row">
    <div class="rounded border border-secondary frame col-sm">
    {% for str in i[2].split('\n')%}
        <p class="par">{{ str }}</p>
        {% endfor %}
    </div>
    <div class="rounded border border-secondary frame col-sm">
        <div class="form-group">
            <label>Теги</label>
            <textarea class="form-control" name="anek_tags" rows="3"></textarea>
        </div>
    </div>
       </div>
    <br>
    <h4>Фонд</h4>
       <div class="row">

           <div class="rounded border border-secondary frame col-sm">
    <p>{{ fond }}</p>
    </div>

    <div class="rounded border border-secondary frame col-sm">
    <select class="form-control form-control-sm" name="anek_fond">
        <option>Платина</option>
        <option>Золотой</option>
        <option>Серебряный</option>
        <option>Медный</option>
        <option>Бронзовый</option>
        <option>Кирпичный</option>
        <option>Деревянный</option>
        <option>Картонный</option>
        <option>Грязевой</option>
        <option class="bg-danger">Даня Ануфриев</option>
    </select>
    </div>
       </div>
        <br>
        <button type="submit" class="btn">Отредачить</button>
    </form>
    <a href="/delete/{{num}}"><button type="submit" class="btn btn-danger float-right">Удалить</button></a>
</div>


</body>

<style>

h4 {
    padding-top: 3px;
}

.par {
    margin: -1px;
}

.frame {
    padding: 10px;
    background-color: #f9f9f9;
}
</style>

</html>