<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>{% block title %}Анеки{% endblock %}</title>
</head>

<body>
<br>
<div class="container">
	<h1 class="text-center">Версия v1.0.0</h1>
</div>

<div class = "container">
	<a href="/create"><button class="btn btn-light float-left">Добавить анекдот</button></a>
	<input class="float-right" type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск анека/тега...">
	<br>
	<br>
</div>

<div class="container">
<table class="table table-striped table-bordered table-hover table_sort" id="info">
	<thead>
	<tr>
		<th scope="col">№</th>
		<th scope="col">Текст</th>
		<th scope="col">Теги</th>
		<th scope="col">Фонд</th>
		{% if admin %}
			<th scope="col">Изменить</th>
		{% else %}
			<th scope="col">Подробнее</th>
		{% endif %}
	</tr>
	</thead>
	<tbody>
	  {% for i in info %}
		<tr>
		{% for j in range(4) %}
			<td>{{ i[j] }}</td>
		{% endfor %}
			{% if admin %}
			<td><a href="/edit/{{ i[0] }}"><button class="edit_button">Edit</button></a></td>
			{% else %}
			<td><a href="/watch/{{ i[0] }}"><button class="edit_button">К анекдоту</button></a></td>
			{% endif %}
		</tr>
	  {% endfor %}
	</tbody>
	</table>
</div>

<!-- ПОИСК ПО ТАБЛИЦЕ !-->
<script>
function myFunction() {
	var input, filter, table, tr, td, i, txtValue, tagValue;
	input = document.getElementById("myInput");
	filter = input.value.toUpperCase();
	table = document.getElementById("info");
	tr = table.getElementsByTagName("tr");

	for (i = 0; i < tr.length; i++) {
		text = tr[i].getElementsByTagName("td")[1];
		tag = tr[i].getElementsByTagName("td")[2];
			if (text) {
				  txtValue = text.textContent + text.innerText + tag.textContent + tag.innerText;
				  if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				  }
				  else {
					tr[i].style.display = "none";
				  }
			}
	}
}
</script>


<style>
	#squad_info {
		float: left;
		width: 50%;}

	#squad_img {
		float: right;
		width: 50%;
	}

	#img {
		float: right;
		height: 200px;
	}

	.edit_button {
		width: 100%;
		border: none;
	}
	#info {
		border: 1px outset black;
		border-top: 5px;
	}

	a {
		color: #000;
		text-decoration: none;}
</style>
<script>
	document.addEventListener('DOMContentLoaded', () => {

	const getSort = ({ target }) => {
		const order = (target.dataset.order = -(target.dataset.order || -1));
		const index = [...target.parentNode.cells].indexOf(target);
		const collator = new Intl.Collator(['en', 'ru'], { numeric: true });
		const comparator = (index, order) => (a, b) => order * collator.compare(
			a.children[index].innerHTML,
			b.children[index].innerHTML
		);

		for(const tBody of target.closest('table').tBodies)
			tBody.append(...[...tBody.rows].sort(comparator(index, order)));

		for(const cell of target.parentNode.cells)
			cell.classList.toggle('sorted', cell === target);
	};

	document.querySelectorAll('.table_sort thead').forEach(tableTH => tableTH.addEventListener('click', () => getSort(event)));

	});
</script>
</body>
</html>